hr {
  color: gainsboro;
  background-color: gainsboro;
  height: 1px;
}

.App {
  text-align: center;
  margin: auto;
  background-color: #001f3f;
}

.Section {
  width: 40%;
  border: 2px solid gainsboro;
  border-radius: 5px;
  background-color: white;
  text-align: left;
  margin: 5px auto;
  padding: 10px;
  min-width: 450px; /* todo content based*/
}

.Header {
  text-align: center;
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
  color: #949494;
  margin: auto;
  display: flex;
}

.Header .Left {
  flex: 1;
}

.Header .Right {
  color: gainsboro;
  width: auto;
  /* todo position: relative; */ 
}

.item {
  border: 2px solid #AAAAAA;
  border-radius: 5px;
  background-color: #dddddd2e;
  margin: 1px;
  display: flex;
}

.item .Left {
  flex: 1;
}

.item .Right {
  color: gainsboro;
  /* width: auto; */
}

.item :hover {

}
